.main_block {
    font-family: "Candara Light", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-size: 22px;
    width: 100%;
    overflow-x: hidden;
}

h3 {
    font-size: 28px;
    margin-top: 40px;
}

header {
    margin-right: 10px;
    margin-left: 10px;
}

html {
    margin-right: -10px;
    margin-left: -10px;
}

h2, h3, h4 {
    font-family: Bahnschrift, serif;
    text-align: center;
}

h3 {
    margin-bottom: 30px;
    margin-top: 50px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 100, 0, 0.4);
    padding: 8px 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px 60px;
}

.block1, .block2 {
    height: content-box;
    width: 100%;
}

.block1 {
    background-color: rgba(102, 102, 102, 0.1);
}

.block2 {
    background-color: white;
}

.pic-text {
    align-self: center;
    color: white;
    position: absolute;
    z-index: 1;
}

.block3 {
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}

.block3 img  {
    object-fit: cover;
    width: 384px;
    height: 256px;
    filter: brightness(65%);
}

.block3:hover img  {
    content: '';
    object-fit: cover;
    width: 384px;
    height: 256px;
    filter: brightness(100%);
    z-index: 2;
}


@media (max-width: 420px) {
    .block3 img  {
        width: 288px;
        height: 192px;
    }

    .block3:hover img  {
        width: 288px;
        height: 192px;
    }
}
